.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textLogo{
  width: auto;
  height: 56px;
  background-color: red;
}


.iconActions{
  width: 30px;
  max-width: 30px;
  height: auto;
  cursor: pointer;
}

.cardWelcomeLanding{
  background-image: url('../src/assets/images/cenefa-landing.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 33px !important;
}

.text-shadow{
  text-shadow: 3px 3px 5px #000000, 3px 3px 5px #000000;
}

.card.shadow.col-12.col-md-6.col-lg-4{
  max-width: 320px;
}
