body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sda {
  font: normal normal normal 40px/48px Helvetica Neue;
letter-spacing: 0px;
color: #FFFFFF;
text-shadow: 3px 3px 5px #000000FA;
opacity: 1;
}